html {
  height: 100%;
  font-family: "Open Sans";
  font-size: 16px;
}

body {
  margin: 0;
  background-image: radial-gradient(#6dc7f5, #55b0f2);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 43.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
